@import url("/style/root.css");

@keyframes cursor_blink {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--page-background);
}

.nav-container {
    width: 80vw;
    height: 5vh;
    padding: 0.8rem;
    margin: 0 10vw;
    margin-top: 2vh;

    background-color: var(--primary-black-transparent);
    border-radius: 5px;

    position: fixed;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-alias {
    width: 0;
    margin-right: auto;
    margin-left: 1rem;

    opacity: 0;
    background: var(--webkit-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: var(--krypton-font);

    transition: all 1s ease;
}

.nav-alias h1 {
    font-size: var(--header-size);
}

.nav-links {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: auto;

    transition: all 1.5s ease;
}

.nav-links .link {
    margin: 0 2rem;

    color: var(--font-white);
    cursor: pointer;

    font-family: var(--neon-font);
    font-size: var(--paragraph-size);
    text-decoration: none;
}

.nav-links .link::after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 0;
    height: var(--underline-weight);
    background: var(--linear-gradient);
    transition: all .3s ease-in-out;
}


.nav-links .link.active::after {
    left: 0;
    width: 100%;
}

.nav-links .link:hover::after {
    left: 0;
    width: 100%;
    transition: all .3s ease-in-out;
}


.container {
    width: 100vw;
}

.hero-container {
    width: calc(100vw - 24rem);
    height: 90vh;
    padding: 0 12rem;
}

.hero-content {
    width: max-content;
    max-width: 60%;
    height: 100%;

    position: relative;
    left: 0;
    top: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    margin: 0.5rem 0;
}

.greeting h1 {
    width: max-content;

    font-family: var(--krypton-font);
    font-size: var(--greeting-size);

    background: var(--webkit-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name h1 {
    width: max-content;

    font-family: var(--neon-font);
    font-size: var(--title-size);;
    color: var(--font-white);
}

.name h1::after {
    content: "";
    display: block;

    position: relative;
    left: 100%;
    top: -0.5rem;

    width: 1.9rem;
    height: var(--cursor-height);

    background: var(--linear-gradient);

    animation: cursor_blink 1s infinite;
}

.summary {
    width: 80%;
    padding: 1.5rem;

    border-radius: 5px;

    background-color: var(--primary-white-transparent-less);
}

.summary p {
    margin: 0.5rem 0;

    font-family: var(--neon-font);
    font-size: var(--paragraph-size);
    text-wrap: auto;
    color: var(--font-white);
}

.summary p mark {
    font-family: var(--krypton-font);
    font-size: calc(var(--paragraph-size)*1.1);
    font-weight: bold;

    color: var(--primary-light-gray);
    background-color: transparent;
}

.summary p mark:hover {
    background: var(--webkit-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.summary .hero-action {
    width: max-content;
    margin: 1rem 0;
    padding: 0.5rem 1rem;

    position: relative;
    z-index: 3;

    border-radius: 5px;
    cursor: pointer;

    font-family: var(--neon-font);
    font-size: var(--paragraph-size);
    font-weight: 600;
    color: var(--font-white);

    background: var(--linear-gradient);
}

.experience-container  *, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.experience-container {
    width: max-content;
    padding: 1rem;
    margin: 0 auto;
}

.experience-header {
    width: max-content;
    margin: 0 auto;
    margin-bottom: var(--small-size);

    font-family: var(--neon-font);
    font-size: var(--section-header-size);
    font-weight: 600;
    color: var(--font-white);
    text-align: center;
}

.experience-header::after {
    content: "";
    display: block;
    width: 100%;
    height: var(--underline-weight);
    background: var(--linear-gradient);
}

.cards {
    position: relative;
}

.cards-inner {
    display: flex;
    flex-direction: row;
    gap: var(--large-size);
}

.card {
    --flow-space: 0.5em;
    --hue: var(--primary-color-hue);
    --saturation: var(--primary-color-saturation);
    --lightness: var(--primary-color-lightness);
    --hsl: var(--hue), var(--saturation), var(--lightness);
    
    width: 20vw;
    height: fill-available;
    padding: 1.5em 2em;

    display: flex;
    flex-direction: column;
    gap: var(--small-size);
    align-items: center;
    
    background-color: var(--primary-dark-gray);
    border: 1px solid var(--primary-light-gray-transparent);
    border-radius: 15px;
}

.card-items {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: var(--neon-font);
    color: var(--font-white);
    font-size: var(--paragraph-size);

    list-style: none;
    line-height: var(--medium-size);
}

.card-header {
    font-family: var(--neon-font);
    font-size: var(--section-subheader-size);
    font-weight: 600;
    color: var(--font-white);
    text-decoration: underline;
}

.flow > * + * {
    margin-top: var(--flow-space, 1.25em);
}

.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    opacity: var(--opacity, 0);
    -webkit-mask: radial-gradient(
        25rem 25rem at var(--x) var(--y),
        #000 1%,
        transparent 50%
    );
    mask: radial-gradient(
        25rem 25rem at var(--x) var(--y),
        #000 1%,
        transparent 50%
    );
    transition: 400ms mask ease;
    will-change: mask;
}

.overlay .card {
    background-color: hsla(var(--hsl), 0.3);
    border-color: hsla(var(--hsl), 1);
    box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

:not(.overlay) > .card {
    transition: 400ms background ease;
    will-change: background;
}
:not(.overlay) > .card:hover {
    --lightness: 80%;
    background: hsla(var(--hsl), 0.1);
}

/* .card ul {
    list-style: none;
    padding: 0;
}

.experience-container {
    width: calc(100vw - 24rem);
    height: max-content;
    padding: 0 12rem;
    padding-bottom: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--primary-gray);
}

.experience-container * {
    box-sizing: border-box;
}

.experience-header {
    font-weight: 600;
    font-size: 2.25em;
    font-family: var(--neon-font);
    margin-bottom: 0.75em;
    text-align: center;
    color: var(--font-white);
}

.cards {
    position: relative;
}

.card {
    --flow-space: 0.5em;
    --hsl: var(--primary-color-hsl);
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: glid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: #2b2b2b;
    border: 1px solid #eceff133;
    border-radius: 15px;
}

.experience-card .card-items {
    line-height: 1.4;
}

.experience-card .card-items li::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
    transform: translateY(0.25ch);
    margin-right: 1ch;
}

.experience-card .card-header {
    font-size: 1.05em;
    font-weight: 600;
}

.flow > * + * {
    margin-top: var(--flow-space, 1.25em);
}

.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: noen;
    opacity: var(--opacity, 0);
    mask: radial-gradient(
        25rem 25rem at var(--x) var(--y),
        #000 1%,
        transparent 50%
    );
    -webkit-mask: radial-gradient(
        25rem 25rem at var(--x) var(--y),
        #000 1%,
        transparent 50%
    );
    transition: 400ms mask ease;
    will-change: mask;
}

.overlay .card {
    background-color: hsla(var(--hsl), 0.15);
    border-color: hsla(var(--hsl), 1);
    box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

:not(.overlay) > .card {
    transition: 400ms background ease;
    will-change: background;
}

:not(.overlay) > .card:hover {
    --lightness: 95%;
    background: hsla(var(--hsl), 0.1);
} */

/* .experience-cards {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.experience-card .blob {
    filter: blur(50px);
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgb(0, 255, 0, 0.5);
    transition: all 300ms ease-in-out;
}

.experience-card:nth-child(1) .blob {
    background-color: var(--primary-color-transparent);
}
.experience-card:nth-child(2) .blob {
    background-color: rgb(0, 255, 0, 0.5);
}
.experience-card:nth-child(3) .blob {
    background-color: rgb(0, 0, 255, 0.5);
}

.experience-card .fakeblob {
    display: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.experience-card {
    width: 20%;
    overflow: hidden;
    margin: 0;
    background: var(--primary-black-transparent);
    border-radius: 10px;
    position: relative;
    transition: all 300ms ease-in-out;
    backdrop-filter: blur(10px);
} */




.highlights-container {
    height: 75vh;
    background-color: aqua;
}

.action-container {
    height: 75vh;
    background-color: blueviolet;
}
