.card {
  background-color: #151515;
  border-radius: 8px;
  transition: transform 0.2s;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* Neomorphism */
  box-shadow: inset 7px 7px 14px #0b0b0b,
            inset -7px -7px 14px #1f1f1f;

  transition: box-shadow 0.7s ease, transform 0.2s ease;
}

.card:hover {
  /* Keep inset shadows, add colored glow */
  box-shadow:
    inset 4px 4px 10px #380d70,
    inset -4px -4px 14px #26202e;
}

.card h3 {
  flex: 0 0 auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  color: white;
  margin: 1.5rem;
}