.custom-cursor {
  position: fixed;
  top: 0;
  /* left: 0; */
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  z-index: 9999;

  color: white;
  /* padding: 0.5rem 1rem; */
  white-space: nowrap;
  font-weight: 500;
  font-family: sans-serif;
  user-select: none;
  text-shadow: 10px 10px black;
}

.cursor-icon {
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.6));
}

.custom-cursor.labelled {
    backdrop-filter: blur(5px) saturate(50%);
    -webkit-backdrop-filter: blur(5px) saturate(50%);
    background-color: rgba(19, 17, 40, 0.5);
}