.hobby-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.boxshadow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 8px;
  z-index: 5;
  box-shadow: inset 15px 15px 30px #0b0b0b,
            inset -15px -15px 30px #1f1f1f;

  transition: all 0.7s ease, transform 0.2s ease;
}

.boxshadow-wrapper:hover {
  box-shadow: inset 7px 7px 14px #070208,
            inset -7px -7px 14px #231127;
}

.hobby-card-container > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.card-content-container {
  position: absolute;
  top: 0;
  left: 0;
  width:  100%;
  height: 100%;
  border-radius: 8px;  
  /* background-color: #151515; */
  transition: all 0.7s ease, transform 0.2s ease;

  /* background-color: #1a1a1a; */
  background: 
    linear-gradient(71deg, rgba(21,21,21,0.85) 40%, rgba(21,21,21, 0.7 ) 50%, rgba(21,21,21,0) 70%),
    radial-gradient(circle at 80% 0%, rgba(21,21,21,0) 40%, rgba(21,21,21,0.8) 55%);
}

.hobby-card-container:hover > .card-content-container {
  /* background-color: #1a1a1a; */
  background: 
    linear-gradient(71deg, rgba(26,26,26,0.85) 40%, rgba(26,26,26, 0.75 ) 50%, rgba(26,26,26,0) 70%),
    radial-gradient(circle at 80% 0%, rgba(26,26,26,0) 40%, rgba(26,26,26,0.85) 55%);
}

.hidden-svg {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
}
/* 
.radial-fade-noise {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
.radial-fade-noise::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  mask-image: url('https://www.transparenttextures.com/patterns/noise.png');
  -webkit-mask-image: url('https://www.transparenttextures.com/patterns/noise.png');
  mask-repeat: repeat;
  -webkit-mask-repeat: repeat;
  opacity: 0.6;
} */
