.icon-cloud {
  position: relative;
  overflow: hidden;
}

.icon-cloud-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: #333;
  pointer-events: all;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
}

.icon-label {
  font-size: 0.7rem;
  color: #666;
  margin-top: 0.3rem;
}
