/* MobileWarningOverlay.css */
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.mobile-warning-box {
  margin: 10vw;
  text-align: left;
  border-radius: 12px;
}

.mobile-warning-box h2 {
  font-family: "Bitcount Single", system-ui;
  font-size: 3rem;
  margin-bottom: 1rem;

  background: -webkit-linear-gradient(135deg, #f00b51 5%, #7815fa 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-warning-box p {
  font-family: 'SpaceGrotesk-Regular', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.mobile-warning-box button {
  background: #ffffff;
  border: none;
  color: #151515;
  font-family: 'SpaceGrotesk-Regular', sans-serif;
  padding: 0.75rem 1.25rem;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.mobile-warning-box button:hover {
  background: #ffffff;
}
