.scroll-area {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-x: visible;
  overflow-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  z-index: 0;
}

.scroll-container::-webkit-scrollbar {
  display: none; 
}

.scroll-track {
  margin: 0 2rem;
  display: flex;
  gap: 1rem;
  width: max-content;
  height: 100%;
  align-items: center;
}

.scroll-item {
  height: 100%;
  aspect-ratio: 20 / 15;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.left-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 100%;
  background-color: transparent;
  border-top-right-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 10;
  box-shadow: 10px 0px 15px #0a0a0a00;
  transition: box-shadow 0.5s ease;
}

.right-bar {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 100%;
  background-color: transparent;
  border-top-left-radius: 100% 60%;
  border-bottom-left-radius: 100% 60%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 10;
  box-shadow: -10px 0px 15px #0a0a0a00;
  transition: box-shadow 0.5s ease;
}

.scroll-area:hover > .left-bar {
  box-shadow: 10px 0px 15px #9349f3;
}

.scroll-area:hover > .right-bar {
  box-shadow: -10px 0px 15px #9349f3;
}
