.background-clipped {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
}

.light-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e2f2fd;
}

.hidden-svg {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
}